<!-- Navigation Bar -->
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="javascript:void(0)"
            class="img logo rounded-circle mb-5"
            style="background-image: url(/src/assets/images/logo.jpg)"></a>

        <ul class="list-unstyled components mb-5">

            <li>
              <RouterLink to="/">HomePage</RouterLink>
            </li>

            <li>
              <!-- <RouterLink to="/about">About</RouterLink> -->
              <a href="javascript:void(0)" @click.prevent="goToAbout">About</a>
              <!-- <button href="javascript:void(0)" @click.prevent="goToAbout">About</button> -->
            </li>

            <li>
                <!-- 加入：custom，才不會讓 <button> 外在長出一個 <a> -->
                <router-link :to="{ name: 'hello_world', query: { testMsg: '0912-345-678' } }" custom v-slot="{ navigate }">
                    <button type="button" 
                            style="margin: 1rem;" 
                            class="btn-sm btn-outline-info" 
                            @click="navigate">
                        HelloWorld
                    </button>
                </router-link>
                <hr>
            </li>

            <li>
              <button type="button" class="btn btn-outline-secondary" @click.prevent="changeHightlight">change-highlight (isHighlight: {{isHighlight}})</button>
              <router-link v-bind:class="{ 'highlight_red': isHighlight }" to="HaHaHa">404 Page</router-link>
            </li>

            <li>
              <a href="#pageSubmenu-111"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle">路由測試
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu-111">
                  <li>
                      <!-- <a href="javascript:void(0)">基本路由</a> -->
                      <router-link :to="{ path: '/testRouter' }">基本路由(使用 path)</router-link>
                  </li>
                  <li>
                      <!-- <a href="javascript:void(0)">基本路由</a> -->
                      <router-link :to="{ name: 'myTestRouter' }">具名路由(使用 name)</router-link>
                  </li>
                  <li>
                      <!-- <a href="javascript:void(0)">路由(帶參數 params)</a> -->
                      <router-link :to="{ name: 'myTestRouter', params: { userId: 7788 }}">路由(帶參數 params)</router-link>
                  </li>
                  <li>
                      <!-- <a href="javascript:void(0)">路由(帶參數 query)</a> -->
                      <router-link :to="{ path: '/testRouter', query: { empName: 'Roger Lo' }}">路由(帶參數 query，會出現在網址列)</router-link>
                  </li>
                  <li>
                    <router-link :to="{ path: '/testRouter' }">動態路由</router-link>
                  </li>
                  <li>
                    <router-link :to="{ path: '/dept/9487' }">子路由測試(Dept → Emp)</router-link>
                  </li>
              </ul>
            </li>

            <li>
              <a href="#pageSubmenu-222"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle" :class="{ 'highlight_cyan' : true }">Vue 基礎語法
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu-222">
                  <li>
                      <!-- <a href="javascript:void(0)">Page 1</a> -->
                      <router-link to="/toComponentA">Computed 計算屬性</router-link>
                  </li>
                  <li>
                      <!-- <a href="javascript:void(0)">Page 2</a> -->
                      <router-link :to="{ name: 'component_b' }">雙向綁定</router-link>
                  </li>
                  <li>
                      <!-- <a href="javascript:void(0)">Page 3</a> -->
                      <router-link :to="{ name: 'component_c' }">v-if</router-link>
                  </li>
                  <li>
                    <!-- <a href="javascript:void(0)">Page 3</a> -->
                    <router-link :to="{ path: '/toComponentD' }">v-for (key)</router-link>
                  </li>
              </ul>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; All rights reserved | This template is made
                with <i class="icon-heart" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
