<!-- Navigation Bar -->
<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="javascript:void(0)"
            class="img logo rounded-circle mb-5"
            style="background-image: url(/src/assets/images/logo.jpg)"></a>

        <ul class="list-unstyled components mb-5">

            <li>
                <RouterLink to="/">HomePage</RouterLink>
            </li>

            <li>
                <!-- <RouterLink to="/about">About</RouterLink> -->
                <a href="#" @click.prevent="goToAbout">About</a>
            </li>

            <li>
                <a href="#pageSubmenu"
                    data-toggle="collapse"
                    aria-expanded="false"
                    class="dropdown-toggle">Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="javascript:void(0)">Page 1</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Page 2</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy; All rights reserved | This template is made
                with <i class="icon-heart" aria-hidden="true"></i> by
                <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>
