#sidebar a {
  font-size: 1.2rem;
  color: rgb(0, 255, 128);
}

#sidebar .highlight_red {
  color: rgb(255, 0, 0);
}

#sidebar .highlight_cyan {
  color: cyan
}

#pageSubmenu-222 a {
  color: cyan
}

#pageSubmenu-333 a {
  color: rgb(156, 81, 226)
}